<!DOCTYPE html>
<html>
<head>
  <title>Beer Pressure</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
	<div>Welcome to Beer Pressure</div>
	<% if @user %>
		<div>You are logged in as <%= @user.name %></div>
		<div><%= link_to "Logout", :controller => :sessions, :action => :destroy %></div>
	<% else %>
		<div><%= link_to "Login using Twitter", "/auth/twitter" %></div>
		<% if show_developer_login? %>
			<div><%= link_to "Login as a developer", "/auth/developer" %></div>
		<% end %>
	<% end%>
</div>

<%= yield %>

</body>
</html>
