<!DOCTYPE html>
<html>
<head>
  <title>Beer Pressure</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-fluid">
	<div class="sidebar">
		<h3>Beer Pressure</h3>
		<% if @user %>
			<div>You are logged in as <%= @user.name %></div>
			<br/>
			<div><%= link_to "Create an Event", new_event_path, :class => "btn small" %></div>
			<br/>
			<div><%= link_to("Logout", url_for(:controller => :sessions, :action => :destroy), :class => "btn small") %></div>
		<% else %>
			<div>You must login to create an event</div>
			<br/>
			<div><%= link_to "Login using Twitter", "/auth/twitter", :class => "btn small" %></div>
			<br/>
			<% if show_developer_login? %>
				<div><%= link_to "Login as a developer", "/auth/developer", :class => "btn small" %></div>
			<% end %>
		<% end%>
		
		<!-- List events that have been recently viewed (past 30 days?) -->
		<!-- Store them in a cookie if the user has not logged in -->
		
	</div>
	<div class="content">
		<%= yield %>
	</div>
</div>
</body>
</html>
