<!DOCTYPE html>
<html>
<head>
  <title>Beer Pressure</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="topbar">
<!--	<h3><%= image_tag "th_beer.gif" %> Beer Pressure <%= image_tag "th_beer.gif" %></h3> -->
	<%= image_tag "BeerPressureLogo1.gif" %>
</div>

<div class="container-fluid">
	<div class="sidebar">
		<% if @user %>
			<div class="label">You are logged in as <%= @user.name %></span>
			<div><%= link_to "Create an Event", new_event_path %></div>
			<div><%= link_to "Logout", :controller => :sessions, :action => :destroy %></div>
		<% else %>
			<div>You must login to create an event</div>
			<div><%= link_to "Login using Twitter", "/auth/twitter" %></div>
			<% if show_developer_login? %>
				<div><%= link_to "Login as a developer", "/auth/developer" %></div>
			<% end %>
		<% end%>
	</div>
	<div class="content">
		<%= yield %>
	</div>
</div>
</body>
</html>
