<!DOCTYPE html>
<html>
<head>
  <title>Beer Pressure</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="topbar">
  <div class="topbar-inner">
    <div class="container">
      <a class="brand" href="/">Beer Pressure</a>
      <ul class="nav">
        <li class="active"><a href="/">Home</a></li>
		<li><a href="/events">Show Happy Hours</a></li>
		<li><a href="/events/new">Create a new Happy Hour</a></li>
      </ul>
	  <% if @user %>
        <p class="pull-right">Logged in as <%= @user.name %></p>
	  <% else %>
	    <p class="pull-right">Click to Login</p>
	  <% end %>
    </div>
  </div>
</div>

<div class="content">
    <%= yield %>
</div>

</body>
</html>
